mixin pageNavi(_list)

  nav.navigation

    ul.navigation_inner

      each _item, _index in _list
        - var _position = _index + 1

        li: a.navigation_link(href='')
          if _position % 2 === 1
            //- 左
            i.fas.fa-chevron-circle-left

          //- 内容
          .navigation_body
            time.navigation_date(datetime=_item.yy+'-'+_item.mm+'-'+_item.dd) #{_item.yy}.#{_item.mm}.#{_item.dd}
            p.navigation_ttl #{_item.ttl}

          if _position % 2 === 0
            //- 右
            i.fas.fa-chevron-circle-right